<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工辞职处理</title>
    <script src="/static/js/jquery-3.1.1.js"></script>
    <script src="/static/js/layer-v3.1.1/layer/layer.js"></script>
    <script src="/static/js/layui/layui.js"></script>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css">
</head>
<body>
<i class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">员工姓名</label>
        <div class="layui-input-inline">
            <input type="text" id="name" required  lay-verify="required" placeholder="员工姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">员工工号</label>
        <div class="layui-input-inline">
            <input type="text" id="id" required lay-verify="required" placeholder="请输入员工工号" autocomplete="off" class="layui-input">
        </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id="su" class="layui-btn" >立即辞退</button>
            <button type="reset" id="sb" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</i>

<script>
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(da){
            // layer.msg(JSON.stringify(data.field));
            // return false;
        });
    });
</script>
<script>
    $(function () {
        $("#su").click(function () {
            $.ajax({
                type:'post',
                url:"{:url('zsgc/sc_a')}",
                data:{
                    id:$("#id").val(),
                    name:$("#name").val(),
                    // xinb:$("#xinb").val(),
                    // nianl:$("#nianl").val()
                },
                success:function (rel) {
                    layer.msg(rel,{icon: 5})
                }
            })
        })
        $("#sb").click(function () {
            $("input").val('');
        })
    })
</script>
</body>
</html>