<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-3.1.1.js"></script>
    <script src="/static/js/layer-v3.1.1/layer/layer.js"></script>
    <script src="/static/js/layui/layui.js"></script>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css">
</head>
<body>
<form action="{:url('toux/toux_a')}" enctype="multipart/form-data" method="post">
    <input required type="file" name="image"> <br>
    <input class="layui-input" type="submit" value="上传员工头像" />
</form>
</body>
</html>